#voterInfo, #under-18 {
  display: none;
  
}

h1{
  text-align: center;
  font-family: plilosopher;
  font-size: 75px;
  color: rgb(231, 40, 40);
}

.link {
  cursor: pointer;
  color: #0088cc;
  position: center;
}

body {
  position: center;
  text-align: center;
}

img {
  position: center;
  width: 75%;

}
